<mat-card class="mat-elevation-z1">
  <mat-card-header>
    <mat-card-title class="card-title">Проверка звонков</mat-card-title>
  </mat-card-header>
  <div class="bodyAll">
    <div class="manager" *ngFor="let acceptManager of acceptManagers">
      <div *ngIf="acceptManager.callsDate.length != 0">
      <p class="dialog-section-title">
        {{acceptManager.login}} "{{acceptManager.phone}}"
      </p>
      <table mat-table [dataSource]="acceptManager.callsDate">

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Название</th>
          <td mat-cell *matCellDef="let element" style="max-width: 300px">{{element.titleClient}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Номер телефона клиента</th>
          <td mat-cell *matCellDef="let element" style="max-width: 300px">{{element.phone}} Сек</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Продолжительность звонка</th>
          <td mat-cell *matCellDef="let element" style="max-width: 300px">{{element.durations}} Сек</td>
        </ng-container>

        <ng-container matColumnDef="refAudio">
          <th mat-header-cell *matHeaderCellDef>Ауди запись</th>
          <td mat-cell *matCellDef="let element" style="max-width: 300px"><a class="btnAccept" href="{{element.referenceAudioVoice}}">Скачать аудио запись</a><br /> <audio control> <source src='{{element.referenceAudioVoice}}' type="audio/mp4"></audio></td>
        </ng-container>

        <ng-container matColumnDef="controls">
          <th mat-header-cell *matHeaderCellDef>Подтвердить</th>
          <td mat-cell *matCellDef="let element" style="max-width: 300px"><button (click)="AccepCallsControler(element)" class="btnAccept">Подтвердить</button></td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Дата начала звонка</th>
          <td mat-cell *matCellDef="let element" style="max-width: 300px">{{element.date}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openEditClientForm(row)"></tr>
      </table>
    </div>
    </div>
  </div>
</mat-card>
