<h3 class="dialog-title" mat-dialog-title>{{data.clientTitle}}</h3>
<button class="close" (click)="close()"><i class="fas fa-times fa-2x"></i></button>

<div class="dialog-subtitle"> 
  <div>
    <h3>Даты и фактическое число звонков</h3>
  </div>
  <div>
    <small>{{currentMonth}}</small>
  </div> 
  <div>
    <button class="back" (click)="openCallsResult()">Итоги звонков за месяц</button>
  </div>
</div>



<mat-dialog-content class="mat-typography mat-body"> 
  <table mat-table #table [dataSource]="clientContacts">
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef width="190" style="background: #FFFCDD;">Дата</th>
      <td mat-cell *matCellDef="let row; let i = index" style="width: 200px" [style.background]="row.date == currentDate ? '#e6f9ff' : ''">{{row.date}}</td>
    </ng-container>
    <ng-container matColumnDef="EMcall">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background: #EEFEF6;">МС</th>
      <td mat-cell *matCellDef="let row" style="text-align: center" [style.background]="row.date == currentDate ? '#e6f9ff' : ''">
        <mat-select *ngIf="row.date == currentDate" [(ngModel)]="row.MScallType" [style.background]="chngeColor(row.MScallType)">
          <mat-option (onSelectionChange)="setidZeroOnAccept(row, 'MScallType')" [value]="40" style="background-color:rgba(76, 255, 0, 0.17)">Звонок - развитие подтверждён</mat-option>
          <mat-option [value]="10" style="background-color:rgba(255, 0, 0, 0.29)">Звонок - развитие не подтверждён</mat-option>
          <mat-option [value]="30">WhatsUp</mat-option>
          <mat-option [value]="20">Письмо</mat-option>
        </mat-select>  
        <mat-select *ngIf="row.date != currentDate" [(ngModel)]="row.MScallType" disabled [style.background]="chngeColor(row.MScallType)">
          <mat-option [value]="40">Звонок - развитие подтверждён</mat-option>
          <mat-option [value]="10">Звонок - развитие не подтверждён</mat-option>
          <mat-option [value]="30">WhatsUp</mat-option>
          <mat-option [value]="20">Письмо</mat-option>
        </mat-select>       
      </td>
    </ng-container>
    <ng-container matColumnDef="RMcall">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; background: #F5FEEE;">РМ</th>
      <td mat-cell *matCellDef="let row; let i = index" style="text-align: center" [style.background]="row.date == currentDate ? '#e6f9ff' : ''">
        <mat-select *ngIf="row.date == currentDate" [(ngModel)]="row.RMcallType" [style.background]="chngeColor(row.RMcallType)">
          <mat-option (onSelectionChange)="setidZeroOnAccept(row, 'RMcallType')" [value]="40" style="background-color:rgba(76, 255, 0, 0.17)">Звонок - развитие подтверждён</mat-option>
          <mat-option [value]="10" style="background-color:rgba(255, 0, 0, 0.29)">Звонок - развитие не подтверждён</mat-option>
          <mat-option [value]="30">WhatsUp</mat-option>
          <mat-option [value]="20">Письмо</mat-option>
        </mat-select>       
        <mat-select *ngIf="row.date != currentDate" [(ngModel)]="row.RMcallType" [style.background]="chngeColor(row.RMcallType)" disabled>
          <mat-option [value]="40">Звонок - Развитие подтверждён</mat-option>
          <mat-option [value]="10">Звонок - Развитие не подтверждён</mat-option>
          <mat-option [value]="30">WhatsUp</mat-option>
          <mat-option [value]="20">Письмо</mat-option>
        </mat-select>  
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="dialog-actions">
    <button color="primary" mat-raised-button (click)="save()">Сохранить</button>
    <button mat-raised-button (click)="close()">Закрыть</button>
  </div>
</mat-dialog-content>

