

<mat-card class="mat-elevation-z1">
  <mat-card-header>
    <mat-card-title>Клиенты</mat-card-title>
    <button class="addEntity" color="primary" mat-raised-button (click)="openCreateClientForm()">Добавить</button>
  </mat-card-header>
  <mat-card-content>
      <table mat-table [dataSource]="clients">
        
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Название </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>
        
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Тип </th>
            <td mat-cell *matCellDef="let element"> {{element.type | clientTypeTranslate}} </td>
          </ng-container>
        
          <ng-container matColumnDef="numberOfCalls">
            <th mat-header-cell *matHeaderCellDef> Переодичность <br> звонков </th>
            <td mat-cell *matCellDef="let element"> {{element.numberOfCalls | numberOfCallsTranslate}} </td>
          </ng-container>
        
          <ng-container matColumnDef="numberOfShipments">
            <th mat-header-cell *matHeaderCellDef> Переодичность <br> отгрузок </th>
            <td mat-cell *matCellDef="let element"> {{element.numberOfShipments | numberOfShipmentsTranslate}} </td>
          </ng-container>
        
          <ng-container matColumnDef="nomenclatureAnalysis">
            <th mat-header-cell *matHeaderCellDef> Анализ по номен-ре </th>
            <td mat-cell *matCellDef="let element" [style.background-color]="getAnalysisColor(getAvgAnalysis(element.nomenclatureAnalysis))" (click)="openNomenclatureAnalysis(element)"><b>{{getAvgAnalysis(element.nomenclatureAnalysis)}}%</b></td>
          </ng-container>
        
          <ng-container matColumnDef="revenueAnalysis">
            <th mat-header-cell *matHeaderCellDef> Анализ по выручке </th>
            <td mat-cell *matCellDef="let element" [style.background-color]="getAnalysisColor(getAvgAnalysis(element.revenueAnalysis))" (click)="openRevenueAnalysis(element)"><b>{{getAvgAnalysis(element.revenueAnalysis)}}%</b></td>
          </ng-container>
        
          <ng-container matColumnDef="callPlan.collective">
            <th mat-header-cell *matHeaderCellDef> Общий план </th>
            <td mat-cell *matCellDef="let element"> {{element.callPlan?.collective}} </td>
          </ng-container>
          
          <ng-container matColumnDef="callPlan.MS">
            <th mat-header-cell *matHeaderCellDef> МС </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field class="numberInputField">
                <input matInput [(ngModel)]="element.callPlan.MS" (focusout)="updateClient(element)"/>
              </mat-form-field>        
            </td>
          </ng-container>
        
          <ng-container matColumnDef="callPlan.RM">
            <th mat-header-cell *matHeaderCellDef> РМ </th>
            <td mat-cell *matCellDef="let element"> {{element.callPlan?.RM}} </td>
          </ng-container>
        
          <ng-container matColumnDef="tripPlan.planned">
            <th mat-header-cell *matHeaderCellDef> План </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field class="numberInputField">
                <input matInput [(ngModel)]="element.tripPlan.planned" (focusout)="updateClient(element)"/>
              </mat-form-field>  
            </td>
          </ng-container>
        
          <ng-container matColumnDef="tripPlan.fact">
            <th mat-header-cell *matHeaderCellDef> Факт </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field class="numberInputField">
                <mat-select [(ngModel)]="element.tripPlan.fact" (focusout)="updateClient(element)" >
                  <mat-option [value]="1">1</mat-option>                  
                  <mat-option [value]="0.5">0.5</mat-option>
                  <mat-option [value]="0.3">0.3</mat-option>
                  <mat-option [value]="0">0</mat-option>
                </mat-select>
              </mat-form-field>  
            </td>
          </ng-container>
        
          <ng-container matColumnDef="MSplanned">
            <th mat-header-cell *matHeaderCellDef> План МС </th>
            <td mat-cell *matCellDef="let element" (click)="openWeekPlans(element)">
              {{getCurrentWeek(element.weekPlans).MSplanned}}
            </td>
          </ng-container>

          <ng-container matColumnDef="RMplanned">
            <th mat-header-cell *matHeaderCellDef> План РМ </th>
            <td mat-cell *matCellDef="let element" (click)="openWeekPlans(element)">
              {{getCurrentWeek(element.weekPlans).RMplanned}}
            </td>
          </ng-container>

          <ng-container matColumnDef="MSfact">
              <th mat-header-cell *matHeaderCellDef> Факт МС </th>
              <td mat-cell *matCellDef="let element" (click)="openWeekPlans(element)">
                {{getCurrentWeek(element.weekPlans).MSfact}}
              </td>
          </ng-container>
        
          <ng-container matColumnDef="RMfact">
            <th mat-header-cell *matHeaderCellDef> Факт РМ </th>
            <td mat-cell *matCellDef="let element" (click)="openWeekPlans(element)">
              {{getCurrentWeek(element.weekPlans).RMfact}}
            </td>
          </ng-container>

          <ng-container matColumnDef="MSresults.sum">
            <th mat-header-cell *matHeaderCellDef>Итого</th>
            <td mat-cell *matCellDef="let element" (click)="openCallsResult(element)">
              {{element.MSresults.calls + element.MSresults.whatsUp + element.MSresults.letters}}
            </td>
          </ng-container>

          <ng-container matColumnDef="RMresults.sum">
            <th mat-header-cell *matHeaderCellDef>Итого</th>
            <td mat-cell *matCellDef="let element" (click)="openCallsResult(element)"> 
              {{element.RMresults.calls + element.RMresults.whatsUp + element.RMresults.letters}}
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openEditClientForm(row)"></tr>
        </table>
  </mat-card-content>
</mat-card>

