<div class="dialog-title">
  <h3 mat-dialog-title>План по задачам <span>{{data.title}}</span></h3>
</div>

<mat-dialog-content>
  <span class="numberOfWeek">неделя {{numberOfWeek}}/{{curentDate}}</span>

  <a class="report" href="ReportClienr?name=Nomll&clientId={{data.id}}">Отчёт Номенклатура</a>
  <a class="report" href="ReportClienr?name=Salle&clientId={{data.id}}">Отчёт Анализ продаж</a>
  <a class="report" href="ReportClienr?name=Opros&clientId={{data.id}}">Отчёт По опросу</a>
  <a class="report" href="ReportClienr?name=Debitory&clientId={{data.id}}">Отчёт По дебиторке</a>

  <button class="close" (click)="close()"><i class="fas fa-times fa-2x"></i></button><br />
  <div class="dialog-body">
    <div class="dialog-section dialog-left">
      <div class="dialog-section-title">
        Менеджер сопровождения
      </div>
      <div class="dialog-section-body">
        <div class="planned">
          <small>План - Звонки</small>
          <textarea matInput placeholder="Введите план" [(ngModel)]="selectedMSWeek.plan" (focusout)="addNewWeekPlan(selectedMSWeek)">{{selectedMSWeek.plan}}</textarea>
        </div>


        <div class="fact">
          <small>Факт - Звонки</small>
          <textarea matInput placeholder="Введите факт" [(ngModel)]="selectedMSWeek.fact" (focusout)="addFactToWeekPlan(selectedMSWeek)">{{selectedMSWeek.fact}}</textarea>
        </div>
      </div>
    </div>

    <div class="dialog-section dialog-right">
      <div class="dialog-section-title">
        Региональный Менеджер
      </div>
      <div class="dialog-section-body">
        <div class="planned">
          <small>План - Звонки/Командировка</small>
          <textarea matInput placeholder="Введите план" [(ngModel)]="selectedRMWeek.plan" (focusout)="addNewWeekPlan(selectedRMWeek)">{{selectedRMWeek.plan}}</textarea>
        </div>
        <div class="fact">
          <small>Факт - Звонки/Командировка</small>
          <textarea matInput placeholder="Введите факт" [(ngModel)]="selectedRMWeek.fact" (focusout)="addFactToWeekPlan(selectedRMWeek)">{{selectedRMWeek.fact}}</textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-Resume">
    <div class="dialog-section-title">
      Резюме
    </div>
    <div class="dialog-section-body">
      <div class="planned">
        <textarea (focusout)="addResume($event)" matInput placeholder="Резюме">{{getResumeToMonthe()}}</textarea>
      </div>
    </div>
  </div>
  <div style="display:flex">
    <table style="margin-bottom: 40px">
      <thead>
        <tr>
          <th style="background-color: #F1F8FF" width="50"></th>
          <th style="background-color: #ECF5FF" (click)="setWeeks(1)"><span>Неделя 1  </span> <br /> <span>{{firstdayOneWeek}} - {{lastdayOneWeek}}</span></th>
          <th style="background-color: #EFF6FF" (click)="setWeeks(2)"><span>Неделя 2  </span> <br /> <span>{{firstdayTwoWeek}} -{{lastdayTwoWeek}}</span></th>
          <th style="background-color: #E2F0FF" (click)="setWeeks(3)"><span>Неделя 3  </span> <br /> <span>{{firstdaythreeWeek}} - {{lastdaythreeWeek}}</span></th>
          <th style="background-color: #DBECFF" (click)="setWeeks(4)"><span>Неделя 4  </span> <br /> <span>{{firstdayFourWeek}} - {{lastdayFourWeek}}</span></th>
          <th style="background-color: #D3E8FF" (click)="setWeeks(5)"><span>Неделя 5  </span> <br /> <span>{{firstdayFiveWeek}} - {{lastdayFiveWeek}}</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: bold">
            МС
          </td>
          <td *ngFor="let element of getMSWeekPlans(data.weekPlans); let i = index">
            {{element.plan}}
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold">
            РМ
          </td>
          <td *ngFor="let element of getRMWeekPlans(data.weekPlans); let i = index">
            {{element.plan}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="dialog-Resume">
    <div class="dialog-section-title">
      Резюме за
      <select style="background:#E2F7FF;font-size: 18px;color:#557B91;border:none;" [(ngModel)]="dateCollection" (ngModelChange)="toFormatDate(dateCollection)">
        <option *ngFor="let dateCollection of dateCollections">{{dateCollection}}</option>
      </select>
    </div>
    <div class="dialog-section-body">
      <div class="planned">
        {{resumeSelect}}
      </div>
    </div>
  </div>


</mat-dialog-content>

<div class="dialog-actions">
  <button color="primary" mat-raised-button (click)="save()">Сохранить</button>
  <button mat-raised-button (click)="close()">Закрыть</button>
</div>
