<mat-card class="mat-elevation-z1">
  <mat-card-header>
    <mat-card-title class="card-title">Планы звонков</mat-card-title>
    <select [(ngModel)]="dateCollection" (ngModelChange)="toFormatDate(dateCollection)">
      <option *ngFor="let dateCollection of dateCollections">{{dateCollection}}</option>
    </select>
  </mat-card-header>
    <mat-card-content>
      <table>
        <thead>
          <tr>
            <th colspan="5">
              Название
            </th>
            <th colspan="4">
              Рабочие группы
            </th>
            <th>
              
            </th>
            <th>
              1
            </th>
            <th>
              2
            </th>
            <th>
              3
            </th>
            <th>
              4
            </th>
            <th>
              5
            </th>
            <th colspan="5">
              План
            </th>
            <th colspan="5">
              Факт
            </th>
            <th>
              
            </th>
            <th>
              1
            </th>
            <th>
              2
            </th>
            <th>
              3
            </th>
            <th>
              4
            </th>
            <th>
              5
            </th>
            <th colspan="5">
              План
            </th>
            <th colspan="5">
              Факт
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let workgroupPlan of workgroupPlans; let index = index">
            <td colspan="5" style="max-width: 300px">{{workgroupPlan.clientTitle}}</td>
            <td colspan="4" style="max-width: 300px">{{workgroupPlan.nameWorkGroup}}</td>
            <td>
              <p>MC</p>
              <p>PM</p>
            </td>
            <td (click)="workgroupPlan.selectedESWeek = 1" [style.background]="workgroupPlan.selectedESWeek == 1 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(1, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(1, workgroupPlan.escortManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(1, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(1, workgroupPlan.escortManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(1, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(1, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td (click)="workgroupPlan.selectedESWeek = 2" [style.background]="workgroupPlan.selectedESWeek == 2 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(2, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(2, workgroupPlan.escortManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(2, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(2, workgroupPlan.escortManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(2, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(2, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td (click)="workgroupPlan.selectedESWeek = 3" [style.background]="workgroupPlan.selectedESWeek == 3 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(3, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(3, workgroupPlan.escortManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(3, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(3, workgroupPlan.escortManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(3, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(3, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td (click)="workgroupPlan.selectedESWeek = 4" [style.background]="workgroupPlan.selectedESWeek == 4 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(4, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(4, workgroupPlan.escortManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(4, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(4, workgroupPlan.escortManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(4, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(4, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td (click)="workgroupPlan.selectedESWeek = 5" [style.background]="workgroupPlan.selectedESWeek == 5 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(5, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(5, workgroupPlan.escortManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(5, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(5, workgroupPlan.escortManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(5, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(5, workgroupPlan.escortManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td colspan="5">
              {{getCurrentPlan(workgroupPlan.escortManagerPlans, workgroupPlan.selectedESWeek)}}
            </td>
            <td colspan="5">
              {{getCurrentFact(workgroupPlan.escortManagerPlans, workgroupPlan.selectedESWeek)}}
            </td>
            <td>
              <p>MC</p>
              <p>PM</p>
            </td>
            <td (click)="workgroupPlan.selectedRMWeek = 1" [style.background]="workgroupPlan.selectedRMWeek == 1 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(1, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(1, workgroupPlan.regionalManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(1, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(1, workgroupPlan.regionalManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(1, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(1, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td (click)="workgroupPlan.selectedRMWeek = 2" [style.background]="workgroupPlan.selectedRMWeek == 2 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(2, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(2, workgroupPlan.regionalManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(2, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(2, workgroupPlan.regionalManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(2, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(2, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td (click)="workgroupPlan.selectedRMWeek = 3" [style.background]="workgroupPlan.selectedRMWeek == 3 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(3, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(3, workgroupPlan.regionalManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(3, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(3, workgroupPlan.regionalManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(3, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(3, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td (click)="workgroupPlan.selectedRMWeek = 4" [style.background]="workgroupPlan.selectedRMWeek == 4 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(4, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(4, workgroupPlan.regionalManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(4, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(4, workgroupPlan.regionalManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(4, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(4, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td (click)="workgroupPlan.selectedRMWeek = 5" [style.background]="workgroupPlan.selectedRMWeek == 5 ? '#eefef5' : 'inherit'">
              <div *ngIf="getWeekPlan(5, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(5, workgroupPlan.regionalManagerPlans).plan != ''" style="background-color: #9AE6FF"></div>
              </div>
              <div *ngIf="getWeekPlan(5, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" *ngIf="getWeekPlan(5, workgroupPlan.regionalManagerPlans).fact != ''" style="background-color: #D5E3EB"></div>
              </div>
              <div *ngIf="!getWeekPlan(5, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
              <div *ngIf="!getWeekPlan(5, workgroupPlan.regionalManagerPlans)">
                <div class="action-circle" style="background-color: #e5e5e5"></div>
              </div>
            </td>
            <td colspan="5">
              {{getCurrentPlan(workgroupPlan.regionalManagerPlans, workgroupPlan.selectedRMWeek)}}
            </td>
            <td colspan="5">
              {{getCurrentFact(workgroupPlan.regionalManagerPlans, workgroupPlan.selectedRMWeek)}}
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
  
  
