::ng-deep tr.mat-row
    cursor: pointer   
    &:hover
        background-color: #f6f6f6

::ng-deep .mat-form-field-infix
    border-top: 0px

.numberInputField
    width: 45px
    height: 27px
    border-bottom: none

.textInputField
    height: 27px

table
    table-layout: fixed

td
    padding-left: 15px !important
    padding-right: 5px !important
    border-bottom: none
    color: #1C1C1C !important

th 
    padding-left: 15px !important
    padding-right: 5px !important
    background-color: #fcfcfc
    border-bottom: none
    color: #000000 !important


.mat-card
    padding: 0px
    padding-bottom: 20px

.bodyAll
    margin: 10px
    .manager
        .dialog-section-title
            background-color: #c4e4ff
            font-size: 18px
            padding: 15px 10px
            .btnAccept
                font-family: Roboto,"Helvetica Neue",sans-serif
                baground-color: #A9D0F5
                pading:10px

.card-title
    padding: 40px 10px
    text-transform: uppercase
    color: #4d73a4
    font-weight: bold

.filter-button
  background: #62b4ff
  position: fixed
  top: 47vh
  right: 0
  padding: 10px 5px
  border-top-left-radius: 6px
  border-bottom-left-radius: 6px
  z-index: 998

.overlay.opened
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: hidden
  z-index: 996
  background: #000000cc

::ng-deep th.mat-header-cell
    border-bottom: 1px solid #f7f7f7
    color: #b9b9b9

.sub-header
    ::ng-deep th.mat-header-cell
        border-bottom: none

::ng-deep td.mat-cell, td.mat-footer-cell
    border-bottom-width: 0px !important
    color: #9da0a5

::ng-deep tr.mat-footer-row, tr.mat-row
    &:hover
        background-color: #eff7fa !important
        td.mat-cell, td.mat-footer-cell
            color: #384855

    &:nth-child(2n)
        background-color: #fafbfd

.numberInputField
    ::ng-deep .mat-form-field-underline 
        display: none

.bar
    padding: 5px 5px
    border-radius: 60px
    display: inline-block
    font-weight: bold
    text-align: center

.bar-shadow
    background-color: #e7f0f5
    border-radius: 60px
    max-width: 110px
.btnAccept
    background-color: #03a9f4
    color: #fff
    transition: 0.3s
    border-radius: 15px
    padding: 2px 2px
    border: none
    cursor: pointer
    margin-bottom: 5px
    margin-right: 3px
    flex-basis: 50%
    padding-left: 6px
    padding-right: 6px
.filter
    margin: 0 20px
    text-align: right
    input, select, button
        display: inline-block 
        width: 200px
        padding: 10px 20px
        border: 1px solid 
        border-radius: 99px
        border: 1px solid #E9F3FF
        margin-bottom: 10px
        background-color: white
    .report
        margin-right: 20px
        display: inline-block 
        padding: 10px 20px
        border: 1px solid 
        border-radius: 99px
        border: 1px solid #E9F3FF
        margin-bottom: 10px
    select
        width: 245px
        margin-right: 20px
    .calendar
        width: 300px
        position: absolute
        right: 10px
        z-index: 10

#fountainG
  width: 186px
  height: 22px
  margin: auto
  display: flex

.fountainG
  background-color: rgba(46, 77, 171, 0.71)
  width: 22px
  height: 22px
  animation-name: bounce_fountainG
  -o-animation-name: bounce_fountainG
  -ms-animation-name: bounce_fountainG
  -webkit-animation-name: bounce_fountainG
  -moz-animation-name: bounce_fountainG
  animation-duration: 0.905s
  -o-animation-duration: 0.905s
  -ms-animation-duration: 0.905s
  -webkit-animation-duration: 0.905s
  -moz-animation-duration: 0.905s
  animation-iteration-count: infinite
  -o-animation-iteration-count: infinite
  -ms-animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite
  -moz-animation-iteration-count: infinite
  animation-direction: normal
  -o-animation-direction: normal
  -ms-animation-direction: normal
  -webkit-animation-direction: normal
  -moz-animation-direction: normal
  transform: scale(0.3)
  -o-transform: scale(0.3)
  -ms-transform: scale(0.3)
  -webkit-transform: scale(0.3)
  -moz-transform: scale(0.3)
  border-radius: 15px
  -o-border-radius: 15px
  -ms-border-radius: 15px
  -webkit-border-radius: 15px
  -moz-border-radius: 15px

#fountainG_1
  left: 0
  animation-delay: 0.366s
  -o-animation-delay: 0.366s
  -ms-animation-delay: 0.366s
  -webkit-animation-delay: 0.366s
  -moz-animation-delay: 0.366s

#fountainG_2
  left: 23px
  animation-delay: 0.4525s
  -o-animation-delay: 0.4525s
  -ms-animation-delay: 0.4525s
  -webkit-animation-delay: 0.4525s
  -moz-animation-delay: 0.4525s

#fountainG_3
  left: 46px
  animation-delay: 0.549s
  -o-animation-delay: 0.549s
  -ms-animation-delay: 0.549s
  -webkit-animation-delay: 0.549s
  -moz-animation-delay: 0.549s

#fountainG_4
  left: 70px
  animation-delay: 0.6355s
  -o-animation-delay: 0.6355s
  -ms-animation-delay: 0.6355s
  -webkit-animation-delay: 0.6355s
  -moz-animation-delay: 0.6355s

#fountainG_5
  left: 93px
  animation-delay: 0.732s
  -o-animation-delay: 0.732s
  -ms-animation-delay: 0.732s
  -webkit-animation-delay: 0.732s
  -moz-animation-delay: 0.732s

#fountainG_6
  left: 116px
  animation-delay: 0.8185s
  -o-animation-delay: 0.8185s
  -ms-animation-delay: 0.8185s
  -webkit-animation-delay: 0.8185s
  -moz-animation-delay: 0.8185s

#fountainG_7
  left: 139px
  animation-delay: 0.905s
  -o-animation-delay: 0.905s
  -ms-animation-delay: 0.905s
  -webkit-animation-delay: 0.905s
  -moz-animation-delay: 0.905s

#fountainG_8
  left: 163px
  animation-delay: 1.0015s
  -o-animation-delay: 1.0015s
  -ms-animation-delay: 1.0015s
  -webkit-animation-delay: 1.0015s
  -moz-animation-delay: 1.0015s

@keyframes bounce_fountainG
  0%
    transform: scale(1)
    background-color: rgba(14, 163, 232, 0.65)

  100%
    transform: scale(0.3)
    background-color: rgb(145, 125, 209)

@-o-keyframes bounce_fountainG
  0%
    -o-transform: scale(1)
    background-color: rgba(14, 163, 232, 0.65)

  100%
    -o-transform: scale(0.3)
    background-color: rgb(145, 125, 209)

@-ms-keyframes bounce_fountainG
  0%
    -ms-transform: scale(1)
    background-color: rgba(14, 163, 232, 0.65)

  100%
    -ms-transform: scale(0.3)
    background-color: rgb(145, 125, 209)

@-webkit-keyframes bounce_fountainG
  0%
    -webkit-transform: scale(1)
    background-color: rgba(14, 163, 232, 0.65)

  100%
    -webkit-transform: scale(0.3)
    background-color: rgb(145, 125, 209)

@-moz-keyframes bounce_fountainG
  0%
    -moz-transform: scale(1)
    background-color: rgba(14, 163, 232, 0.65)

  100%
    -moz-transform: scale(0.3)
    background-color: rgb(145, 125, 209)

.btnContainer
    display: flex
    margin-bottom: 8px

.btnReject
    background-color: #ff7777  
.btnFixed
    background-color: #8bd88b
    margin-right: 0

@media screen and (max-width: 1200px)
  td, th
    padding-left: 0 !important
    text-overflow: ellipsis
    overflow: hidden
    line-height: 1.5
  th:hover, 
  td:hover
    text-overflow: clip
    overflow: inherit

@media screen and (max-width: 820px)
  .filter-container
    overflow-y: scroll
    position: absolute
    width: min-content
    display: none
    top: 0
    right: 0
    height: 100%
    background: white
    z-index: 997

  .filter-container.opened
    right: 0
    display: block
    -webkit-animation: animateright 0.4s
    animation: animateright 0.4

  .filter
    display: flex
    flex-direction: column
    margin-top: 20px
    padding-right: 40px

.mat-card 
  min-height: 100vh

mat-expansion-panel.mat-expanded
  border-radius: 0
  mat-expansion-panel-header
    background: #62b4ff
    border-radius: 0
    color: white
    .mat-expansion-panel-header-title 
      color: white
      font-size: 18px
      .status
        width: 10px
        position: absolute
        left: 0
        height: 64px
        margin-top: -19px

.table-expansion-element-body
  margin-top: 20px
  .element-item
    line-height: 30px
  b
    margin-right: 10px
  .statusCall
    display: flex
    .action-circle
      margin-top: 7px
  .comentCon
    max-width: 300px
    .btnContainer
      .btnAccept
        height: 30px

.mat-expansion-panel
  border: none
  border-bottom: 1px solid #e6e6e6
  box-shadow: none