<mat-card class="mat-elevation-z1">
  <mat-card-header>
    <mat-card-title class="card-title">Проверка Клиента</mat-card-title>
    <div id="fountainG" hidden>
      <div id="fountainG_1" class="fountainG"></div>
      <div id="fountainG_2" class="fountainG"></div>
      <div id="fountainG_3" class="fountainG"></div>
      <div id="fountainG_4" class="fountainG"></div>
      <div id="fountainG_5" class="fountainG"></div>
      <div id="fountainG_6" class="fountainG"></div>
      <div id="fountainG_7" class="fountainG"></div>
      <div id="fountainG_8" class="fountainG"></div>
    </div>
  </mat-card-header>
  <div class="filter clearfix">
    <select [(ngModel)]="workgroupId" (change)="selectedWorkGroupChange()">
      <option [ngValue]=0>Все рабочие групы</option>
      <option *ngFor="let wg of workgroups; let i = index" [ngValue]=wg.id>
        {{wg.title}}
      </option>
    </select>
  </div>
  <div>
    <mat-card-content>

      <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons></mat-paginator>
      <table mat-table [dataSource]="dataSource" MatSort>

        <ng-container matColumnDef="status">
          <th colspan="1" mat-header-cell *matHeaderCellDef></th>
          <td colspan="1" mat-cell *matCellDef="let element" [style.background]="setBagroundStatus(element)"></td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Название</th>
          <td colspan="4" mat-cell *matCellDef="let element" style="color: #324A60; max-width: 300px">{{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Телефон</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.phones[0]?.phone}} {{element.contactName}}</td>
        </ng-container>

        <ng-container matColumnDef="clientType">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Тип</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.clientType}} </td>
        </ng-container>

        <ng-container matColumnDef="legalEntity">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Юр. лицо</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.legalEntity}} </td>
        </ng-container>

        <ng-container matColumnDef="numberOfCalls">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Звонки</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.numberOfCalls}} </td>
        </ng-container>

        <ng-container matColumnDef="numberOfShipments">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Отгрузки</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.numberOfShipments}} </td>
        </ng-container>

        <ng-container matColumnDef="comentCon">
          <th colspan="14" mat-header-cell *matHeaderCellDef>Комментарий контролера</th>
          <td colspan="14" mat-cell *matCellDef="let element">
            <textarea style="width:350px;height:60px;">{{element.callsComments?.comment}}</textarea><br />
            <button (click)="setNoAccept($event, element.id)" class="btnAccept">Отклонить</button>
            <button (click)="setAccept($event, element.id)" class="btnAccept">Исправлено</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="comentCli">
          <th colspan="7" mat-header-cell *matHeaderCellDef>Комментарий менеджера</th>
          <td colspan="7" mat-cell *matCellDef="let element">{{element.callsComments?.managerComment}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </div>
</mat-card>
