<mat-toolbar class="mat-elevation-z2">
  <div class="logo">
    Мир Суши
  </div>
  <nav>
    <ul>
      <li><a routerLink="dashboard" routerLinkActive="active">Главная</a></li>
      <li><a routerLink="clients" routerLinkActive="active">Клиенты</a></li>
      <li><a routerLink="ReachOutcomes" routerLinkActive="active">Крупные Клиентны</a></li>
    </ul>
  </nav>

  <div class="logout">
    Менеджер: {{manager?.login}}
    <i class="fas fa-sign-out-alt" (click)="logout()"></i>
  </div>
</mat-toolbar>


<div class="wrapper">
  <router-outlet></router-outlet> 
</div>
