<mat-toolbar class="mat-elevation-z2">
  <div class="logo">
    Мир Суши
  </div>
  <nav>
    <ul>
      <li><a href="admin" routerLinkActive="active">Админ панель</a></li>
      <li><a routerLink="calls" routerLinkActive="active">Звонки</a></li>
      <li><a routerLink="report" routerLinkActive="active">Отчет</a></li>
      <li><a routerLink="clients" routerLinkActive="active">Клиенты</a></li>
      <li><a routerLink="plan-task" routerLinkActive="active">План</a></li>
    </ul>
  </nav>

  <div class="logout">
    Контролер: {{manager?.login}}
    <i class="fas fa-sign-out-alt" (click)="logout()"></i>
  </div>
</mat-toolbar>


<div class="wrapper">
  <router-outlet></router-outlet> 
</div>
