<ng-container *ngIf="callPlanningDisplayed">
  <h3 mat-dialog-title>Планирование звонков</h3>
  <div mat-dialog-container>
    <label>Клиент: {{selectedClient.title}}</label>
    <mat-form-field>
      <form [formGroup]="callPlanningForm" (ngSubmit)="callPlanningFormSubmit()">
          <input formControlName="amountCalls"
                 matInput
                 placeholder="Введите количество звонков">

          <button mat-button type="submit">Принять</button>
      </form>
    </mat-form-field>
  </div>
</ng-container>


<mat-card>
  <mat-card-header>
    <mat-card-title>Список Клиентов</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <table mat-table [dataSource]="clients">
     <ng-container matColumnDef="id">
       <th mat-header-cell *matHeaderCellDef> # </th>
       <td mat-cell *matCellDef="let client"> {{client.id}} </td>
     </ng-container>
     <ng-container matColumnDef="title">
       <th mat-header-cell *matHeaderCellDef> Имя </th>
       <td mat-cell *matCellDef="let client"> {{client.title}} </td>
     </ng-container>
     <ng-container matColumnDef="phone">
       <th mat-header-cell *matHeaderCellDef> Телефон </th>
       <td mat-cell *matCellDef="let client"> {{client.phone}} </td>
     </ng-container>
     <ng-container matColumnDef="plannedAmountCalls">
        <th mat-header-cell *matHeaderCellDef> Запланировано звонков </th>
        <td mat-cell *matCellDef="let client">
          <ng-container *ngIf="client.plannedAmountCalls">
              {{client.plannedAmountCalls}}
          </ng-container>
          <ng-container *ngIf="!client.plannedAmountCalls">
            <button mat-button (click)="callPlanningOpen(client.id, client.title)">Запланировать звонки</button>
          </ng-container>                     
        </td>
     </ng-container>   
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
   <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
