
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="content">
    <div class="page-header">
        <h1>Список Клиентов</h1>
        <p>Здесь представлена информация о клиентах компании</p>
    </div>
    <section class="table">
        <div class="portlet">
            <div class="portlet-header">
                Клиенты
            </div>
            <div class="portlet-body">
                <div class="table-header">
                    <a href="/Client/Create" class="button button-default">Добавить</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Телефон</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td>@client.Title</td>
                                <td>@client.Phone</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

