<h3 class="dialog-title" mat-dialog-title>Изменение клиента</h3>
<button class="close" (click)="close()"><i class="fas fa-times fa-2x"></i></button>


<form >
  <div class="form-group">
    <label for="">Название клиента</label>
    <input placeholder="Название" [(ngModel)]="data.title" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="">Номер телефона</label>
    <input placeholder="Телефон" [(ngModel)]="data.phones[0].phone" [ngModelOptions]="{standalone: true}" disabled>
    <button (click)="openClientPhones()">Еще номера</button>
  </div>      

  <div class="form-group">
    <label for="">Юридическое лицо</label>
    <input placeholder="Юридическое лицо" [(ngModel)]="data.legalEntity" [ngModelOptions]="{standalone: true}" disabled>
  </div>
      
  <div class="form-group">
    <label for="">Тип клиента</label>
    <select placeholder="Тип клиента" [(ngModel)]="data.clientType" [ngModelOptions]="{standalone: true}">
        <option [value]="0">Без типа</option>
        <option [value]="10">Небольшой</option>
        <option [value]="20">Средний 1</option>
        <option [value]="30">Средний 2</option>
        <option [value]="40">Крупный 1</option>
        <option [value]="50">Крупный 2</option>
        <option [value]="60">Крупный 3</option>
        <option [value]="90">Очень крупный</option>
      </select>
  </div>

  <div class="form-group">
      <label for="">Группа клиента</label>
      <select placeholder="Тип клиента" [(ngModel)]="data.group" [ngModelOptions]="{standalone: true}">
          <option [value]="0">Неопределен</option>
          <option [value]="10">Актуальные</option>
          <option [value]="20">С редкой отгрузкой</option>
          <option [value]="30">Новые или реанимируемые</option>
          <option [value]="40">Рестораны</option>
          <option [value]="50">Другие</option>
        </select>
    </div>
    
  <div class="form-group">
    <label for="">Переодичность звонков</label>
    <select placeholder="Переодичность звонков" [(ngModel)]="data.numberOfCalls" [ngModelOptions]="{standalone: true}">
        <option [value]="0">Не указан</option>
        <option [value]="10">1 раз в месяц</option>
        <option [value]="20">1 раз в 2 недели</option>
        <option [value]="30">3 раза в месяц</option>
        <option [value]="40">1 раз в неделю</option>
        <option [value]="50">5 раз в месяц</option>
        <option [value]="60">6 раз в месяц</option>
        <option [value]="90">2 раза в неделю</option>
      </select>
  </div>      

  <div class="form-group">
    <label for="">Переодичность отгрузок</label>
    <select placeholder="Переодичность отгрузок" [(ngModel)]="data.numberOfShipments" [ngModelOptions]="{standalone: true}">
        <option [value]="0">Не указан</option>
        <option [value]="10">1 раз в месяц</option>
        <option [value]="20">1 раз в 2 недели</option>
        <option [value]="30">3 раза в месяц</option>
        <option [value]="40">1 раз в неделю</option>
        <option [value]="50">5 раз в месяц</option>
        <option [value]="60">6 раз в месяц</option>
        <option [value]="90">2 раза в неделю</option>
    </select>
  </div>

      
  
  </form>
  
  <div class="dialog-actions">
    <button color="primary" mat-raised-button (click)="save()">Сохранить</button>
    <button mat-raised-button (click)="close()">Закрыть</button>
  </div>
  
