<mat-toolbar class="mat-elevation-z2">
  <div class="logo">
    <img height="80" width="80" src="../../Icon/logo.png" />
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="[ 'clients' ]" routerLinkActive="active">Клиенты</a></li>
      <li><a [routerLink]="[ 'managers' ]" routerLinkActive="active">Менеджеры</a></li>
      <li><a [routerLink]="[ 'workgroups' ]" routerLinkActive="active">Рабочие группы</a></li>
      <li><a [routerLink]="[ 'directory' ]" routerLinkActive="active">Справочник</a></li>
      <li><a href="controler" routerLinkActive="active">Контроль</a></li>
    </ul>
  </nav>
  <div class="logout">
    Админ панель
    <i class="fas fa-sign-out-alt" (click)="logout()"></i>
  </div>
</mat-toolbar>


<div class="wrapper">
  <router-outlet></router-outlet> 
</div>
