
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="portlet-head">
                    <h3 class="title">Импорт</h3>
                </div>
            </div>
            <div class="portlet-body">
                <form asp-action="ImportFileExportClient" asp-controller="Home" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" style="margin-bottom: 40px;"> <br />
                    <button class="btn" type="submit">Отправить</button>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>
