<h3 class="dialog-title" mat-dialog-title>Создание менеджера</h3>
<button class="close" (click)="close()"><i class="fas fa-times fa-2x"></i></button>


<form [formGroup]="createManagerForm">
  <div class="form-group">
    <label for="">Имя менеджера</label>
    <input placeholder="Название" formControlName="login">
  </div>
  <div class="form-group">
    <label for="">Пароль менеджера</label>
    <input placeholder="Название" formControlName="password">
  </div>
  <div class="form-group">
    <label for="">Номер телефона</label>
    <input placeholder="Телефон" formControlName="phone">
  </div>      
  </form>
  
  <div class="dialog-actions">
    <button color="primary" mat-raised-button (click)="save()">Сохранить</button>
    <button mat-raised-button (click)="close()">Закрыть</button>
  </div>
  
  