
<div class="manager-effiency">
  <mat-card class="mat-elevation-z1">
    <mat-card-header>
      <mat-card-title class="card-title">Ваша статистика по всем звонкам</mat-card-title>
    </mat-card-header>
      <table>
        <thead>
          <tr>
            <th style="max-width:50px !important"></th>
            <th>Сегодня</th>
            <th>Неделя</th>
            <th>Месяц</th>
            <th>Всего</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="background-color:#f1f8ff; border-color:#c9dcff; max-width:50px !important">Все звонки</td>
            <td>{{setToDayCall()}}</td>
            <td>{{setToWeekCall()}}</td>
            <td>{{setToMonthkCall()}}</td>
            <td>{{setAllCall()}}</td>
          </tr>
          <tr>
            <td style="background-color:#f1f8ff;border-color:#c9dcff; max-width:50px !important">Более 2,5 мин</td>
            <td>{{setMoreTwoFiveCallDays()}}</td>
            <td>{{setMoreTwoFiveCallWeek()}}</td>
            <td>{{setMoreTwoFiveCallMonth()}}</td>
            <td>{{setMoreTwoFiveCall()}}</td>
          </tr>
          <tr>
            <td style="background-color:#f1f8ff; border-color:#c9dcff;max-width:50px !important">Менее 2.5 мин, более 10 сек</td>
            <td>{{setMore10to2_5CallDays()}}</td>
            <td>{{setMore10to2_5CallWeek()}}</td>
            <td>{{setMore10to2_5CallMonth()}}</td>
            <td>{{setMore10to2_5Call()}}</td>
          </tr>
          <tr>
            <td style="background-color:#f1f8ff;border-color:#c9dcff; max-width:50px !important">Менее 10 сек</td>
            <td>{{setLes10SecCallDays()}}</td>
            <td>{{setLes10SecCallWeek()}}</td>
            <td>{{setLes10SecCallMonth()}}</td>
            <td>{{setLes10SecCall()}}</td>
          </tr>
          <tr>
            <td style="background-color:#f1f8ff;border-color:#c9dcff;max-width:50px !important">Звонки развития</td>
            <td>{{setDevelopmentCallDays()}}</td>
            <td>{{setDevelopmentCallWeek()}}</td>
            <td>{{setDevelopmentCallMonth()}}</td>
            <td>{{setDevelopmentCall()}}</td>
          </tr>
          <tr>
            <td style="background-color:#f1f8ff;border-color:#c9dcff; max-width:50px !important">Звонки коллегам</td>
            <td>{{setManagerCallDays()}}</td>
            <td>{{setmanagerCallWeek()}}</td>
            <td>{{setManagertCallMonth()}}</td>
            <td>{{setManagerCall()}}</td>
          </tr>
          <!--<tr>
            <td style="background-color:#fcfcfc; max-width:50px !important">Звонки подтвержденые контролером</td>
            <td>{{setAceepControlerCallDays()}}</td>
            <td>{{setAceepControlerCallWeek()}}</td>
            <td>{{setAceepControlerCallMonth()}}</td>
            <td>{{setAceepControlerCall()}}</td>
          </tr>-->
        </tbody>
      </table>
  </mat-card>
</div>

  <div class="manager-effiency">
    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <mat-card-title class="card-title">Таблица эффективности менеджера</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table>
          <thead>
            <tr *ngIf="Managerid.id == Managerid.workgroup.regionalManagerId">
              <th colspan="12">Региональный менеджер</th>
            </tr>
            <tr *ngIf="Managerid.id == Managerid.workgroup.escortManagerId">
              <th style="text-align: left" colspan="12">Менеджер Сопровождения</th>
            </tr>
            <tr>
              <th></th>
              <th colspan="2">Типы контактов</th>
              <th>План по числу смен</th>
              <th>План в смену (шт)</th>
              <th>Баллы за ед.</th>
              <th colspan="2">Эталон</th>
              <th colspan="4">Факт</th>
            </tr>
            <tr>
              <th colspan="1"></th>
              <th colspan="5"></th>
              <th>в ед.</th>
              <th>в баллах</th>
              <th>согласно учету</th>
              <th>согласно программе (звонки > 2,5 мин.)</th>
              <th>расхождение</th>
              <th>в баллах</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="Managerid.id == Managerid.workgroup.escortManagerId">
              <td>{{fullPrecentEC.toFixed()}}%</td>
              <td colspan="2">Звонки развития</td>
              <td>{{performanceChartMC.numberPlan_DevelopmentCalls}}</td>
              <td>{{performanceChartMC.shiftPlan_DevelopmentCalls}}</td>
              <td>{{performanceChartMC.balls_DevelopmentCalls}}</td>
              <td>{{oneTasksEC}}</td>
              <td>{{oneBallsEC}}</td>
              <td>{{tasksEC}}</td>
              <td>{{performanceChartMC.numberPlan_DevelopmentCalls*8}}</td>
              <td>{{performanceChartMC.numberPlan_DevelopmentCalls + getToMonthkECManager()}}</td>
              <td>{{ballsEC.toFixed(1)}}</td>
            </tr>
            
            <tr *ngIf="Managerid.id == Managerid.workgroup.regionalManagerId">
              <td rowspan="3">{{fullPrecentRM.toFixed()}}%</td>
              <td colspan="2">Встречи и командировки развития</td>
              <td>{{performanceChartRM.numberPlan_DevelopmentCalls}}</td>
              <td></td>
              <td>{{performanceChartRM.balls_DevelopmentCalls}}</td>
              <td></td>
              <td rowspan="3">{{ballsRM}} </td>
              <td>{{sumFactTrip}}</td>
              <td>-</td>
              <td>-</td>
              <td rowspan="3">{{oneBallsRM}}</td>
            </tr>
            <tr *ngIf="Managerid.id == Managerid.workgroup.regionalManagerId">
              <td rowspan="2">Звонки</td>
              <td>Свои смены</td>
              <td>{{performanceChartRM.numberPlan_YourShifts}}</td>
              <td>{{performanceChartRM.shiftPlan_YourShifts}}</td>
              <td rowspan="2">{{performanceChartRM.balls_YourShifts}}</td>
              <td>{{oneTasksRM}}</td>
              <td rowspan="2">{{tasksRM.toFixed()}}</td>
              <td rowspan="2">{{performanceChartRM.numberPlan_DevelopmentCalls*8}}</td>
              <td rowspan="2">{{performanceChartRM.numberPlan_DevelopmentCalls + getToMonthkRegManager()}}</td>
            </tr>
            <tr *ngIf="Managerid.id == Managerid.workgroup.regionalManagerId">
              <td>Смены замещения</td>
              <td>{{performanceChartRM.numberPlan_SubstitutionShifts}}</td>
              <td>{{performanceChartRM.shiftPlan_SubstitutionShifts}}</td>
              <td>{{oneTasksRM1.toFixed()}}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
