.mat-card
    padding: 0px
    padding-bottom: 20px

.card-title
    padding: 40px 10px
    text-transform: uppercase
    color: #4d73a4
    font-weight: bold

.card-content-wrapper
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    padding: 0px 20px

.total-contacts 
    text-align: center
    h3
        font-size: 26px
        letter-spacing: 0.06em
        text-transform: uppercase
        color: #6C86A5
        font-weight: normal
    .contacts-info
        background-color: rgba(204, 247, 226, 0.22)
        border-radius: 20px
        display: grid
        padding: 115px 0px
        font-size: 98px
        font-weight: bold
        color: #7DDAB1
        span
            font-size: 22px
            font-weight: normal
