
<div class="manager-effiency">
  <mat-card class="mat-elevation-z1">
    <mat-card-header>
      <mat-card-title class="card-title">Ваша статистика по всем звонкам</mat-card-title>
    </mat-card-header>
      <table>
        <thead>
          <tr>
            <th style="max-width:50px !important"></th>
            <th>Сегодня</th>
            <th>Неделя</th>
            <th>Месяц</th>
            <th>Всего</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="background-color:#fcfcfc; max-width:50px !important">Все звонки</td>
            <td>{{setToDayCall()}}</td>
            <td>{{setToWeekCall()}}</td>
            <td>{{setToMonthkCall()}}</td>
            <td>{{setAllCall()}}</td>
          </tr>
          <tr>
            <td style="background-color:#fcfcfc; max-width:50px !important">более 2,5 мин</td>
            <td>{{setMoreTwoFiveCallDays()}}</td>
            <td>{{setMoreTwoFiveCallWeek()}}</td>
            <td>{{setMoreTwoFiveCallMonth()}}</td>
            <td>{{setMoreTwoFiveCall()}}</td>
          </tr>
          <tr>
            <td style="background-color:#fcfcfc; max-width:50px !important">Менее 2.5 мин, более 10 сек</td>
            <td>{{setMore10to2_5CallDays()}}</td>
            <td>{{setMore10to2_5CallWeek()}}</td>
            <td>{{setMore10to2_5CallMonth()}}</td>
            <td>{{setMore10to2_5Call()}}</td>
          </tr>
          <tr>
            <td style="background-color:#fcfcfc; max-width:50px !important">мение 10 сек</td>
            <td>{{setLes10SecCallDays()}}</td>
            <td>{{setLes10SecCallWeek()}}</td>
            <td>{{setLes10SecCallMonth()}}</td>
            <td>{{setLes10SecCall()}}</td>
          </tr>
          <tr>
            <td style="background-color:#fcfcfc;max-width:50px !important">Звонки развития</td>
            <td>{{setDevelopmentCallDays()}}</td>
            <td>{{setDevelopmentCallWeek()}}</td>
            <td>{{setDevelopmentCallMonth()}}</td>
            <td>{{setDevelopmentCall()}}</td>
          </tr>
          <tr>
            <td style="background-color:#fcfcfc; max-width:50px !important">Звонки колегам</td>
            <td>{{setManagerCallDays()}}</td>
            <td>{{setmanagerCallWeek()}}</td>
            <td>{{setManagertCallMonth()}}</td>
            <td>{{setManagerCall()}}</td>
          </tr>
          <!--<tr>
            <td style="background-color:#fcfcfc; max-width:50px !important">Звонки подтвержденые контролером</td>
            <td>{{setAceepControlerCallDays()}}</td>
            <td>{{setAceepControlerCallWeek()}}</td>
            <td>{{setAceepControlerCallMonth()}}</td>
            <td>{{setAceepControlerCall()}}</td>
          </tr>-->
        </tbody>
      </table>
  </mat-card>
</div>
  <hr style="opacity: 0.2">

  <div class="manager-effiency">
    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <mat-card-title class="card-title">Таблица эффективности менеджера</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table>
          <thead>
            <tr>
              <th></th>
              <th colspan="2">Типы контактов</th>
              <th>План по числу смен</th>
              <th>План в смену (шт)</th>
              <th>Баллы за ед.</th>
              <th colspan="2">Эталон</th>
              <th colspan="4">Факт</th>
            </tr>
            <tr>
              <th colspan="1"></th>
              <th colspan="5"></th>
              <th>в ед.</th>
              <th>в баллах</th>
              <th>согласно учету</th>
              <th>согласно программе (звонки > 2,5 мин.)</th>
              <th>расхождение</th>
              <th>в баллах</th>
            </tr>
            <tr>
              <th style="text-align: left" colspan="12">Менеджер Сопровождения</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{(getEscortManagerCallContactsAmount() / contactsStandard * 100).toFixed(1)}}%</td>
              <td colspan="2">Звонки развития</td>
              <td>20</td>
              <td>8</td>
              <td>0.4</td>
              <td>{{contactsStandard}}</td>
              <td>64</td>
              <td>0</td>
              <td>{{getEscortManagerCallContactsAmount()}}</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <th colspan="12">Региональный менеджер</th>
            </tr>
            <tr>
              <td rowspan="3">{{(getRegionalManagerCallContactsAmount() / (contactsStandard + 16) * 100).toFixed(1)}}%</td>
              <td colspan="2">Встречи и командировки развития</td>
              <td>10</td>
              <td></td>
              <td>8</td>
              <td></td>
              <td rowspan="3">80</td>
              <td>0</td>
              <td>-</td>
              <td>-</td>
              <td rowspan="3">0</td>
            </tr>
            <tr>
              <td rowspan="2">Звонки</td>
              <td>Свои смены</td>
              <td>8</td>
              <td>20</td>
              <td rowspan="2">0.4</td>
              <td>{{contactsStandard}}</td>
              <td rowspan="2">0</td>
              <td rowspan="2">{{getRegionalManagerCallContactsAmount()}}</td>
              <td rowspan="2">0</td>
            </tr>
            <tr>
              <td>Смены замещения</td>
              <td>2</td>
              <td>8</td>
              <td>16</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
