<div class="dialog-title">
  <h3 mat-dialog-title>Замечания контролера<span>{{data.title}}</span></h3>
</div>
<table>
  <thead>
    <tr>
      <th>Дата</th>
      <th>Коментарий котролера</th>
      <th>Продолжительность</th>
      <th>Коментарий</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbodyId">
    <tr *ngFor="let elm of callsAccept">
      <td [style.color]="elm.colorPen">{{elm.date}}</td>
      <td [style.color]="elm.colorPen">{{elm.comment}}</td>
      <td [style.color]="elm.colorPen">{{elm.durations}}</td>
      <td> <textarea (focusout)="comment(elm.clientId, elm.contactClientId, $event)" style="border:none;margin:1px;padding:10px;width:60%;height:50px" value="">{{elm.maanagerComment}}</textarea></td>
      <td><button  class="btnAccept" (click)="corect(elm.clientId, elm.contactClientId, $event)">Испралено</button></td>
    </tr>
  </tbody>
</table>
<hr />
<table>
  <thead>
    <tr>
      <th>Коментарий котролера</th>
      <th>Коментарий</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbodyId1">
    <tr *ngFor="let elm of clientAccept">
      <td [style.color]="elm.colorPen">{{elm.comment}}</td>
      <td> <textarea (focusout)="comment1(elm.clientId, $event)" style="border:none;margin:1px;padding:10px;width:60%;height:50px" value="">{{elm.maanagerComment}}</textarea></td>
      <td><button class="btnAccept" (click)="corect1(elm.clientId, $event)">Испралено</button></td>
    </tr>
  </tbody>
</table>

<div class="dialog-actions">
  <button mat-raised-button (click)="close()">Закрыть</button>
</div>
