<app-client-list 
    [clients]="clients$ | async"
    [manager]="manager$ | async"
    [workgroup]="workgroups$ | async"
    (clientCreated)="createClient($event)"
    (clientUpdated)="updateClient($event)"
    (callPlanUpdated)="updateCallPlan($event)"
    (tripPlanHoursUpdated)="updateTripPlanHours($event)"
    (tripPlanCompletedTypeUpdated)="updateTripPlanCompletedType($event)"
    (weekPlanUpdated)="updateWeekPlan($event)"
    (weekPlanCreated)="createWeekPlan($event)"
    (weekPlanFactAdded)="addFactToWeekPlan($event)"
    (callsDateCreated)="createCallsDate($event)"
    (callPlanCreated)="createCallPlan($event)"
    (tripPlanCreated)="createTripPlan($event)">
</app-client-list>
