<mat-card class="mat-elevation-z1">
  <mat-card-header>
    <mat-card-title class="card-title">Рабочие группы</mat-card-title>
    <button class="addEntity" (click)="openWorkgroupCreate()" >+ Добавить группу</button>
  </mat-card-header>
  <mat-card-content>
    <div class="workgroups-wrapper">
      <div class="workgroup-item" *ngFor="let workgroup of workgroups">
        <div class="workgroup-title clearfix">
          <span (click)="openWorkgroupDetail(workgroup)" style="cursor: pointer">
            {{workgroup.title}}
          </span>
          <div class="workgroup-actions">
            <a class="plans" (click)="openWorkgroupDetail(workgroup)">Осмотр</a>
            <a class="plans" [routerLink]="workgroup.id ? ['plans', workgroup.id] : []">Планы</a>
            <a class="calls" [routerLink]="workgroup.id ? ['calls', workgroup.id] : []">Звонки</a>
          </div>
        </div>
        <div class="workgroup-body">
          <table>
            <thead>
              <tr>
                <th>Сегодня</th>
                <th></th>
                <th>Менеджер</th>
                <th>Эффективность</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{getAmountContactsToday(workgroup.escortManager?.id)}}</td>
                <td>МС</td>
                <td>{{workgroup.escortManager?.login}}</td>
                <td>{{(getCallContactsByManager(workgroup.escortManager?.id) / 160 * 100).toFixed(1)}}%</td>
              </tr>
              <tr>
                <td>{{getAmountContactsToday(workgroup.regionalManager?.id)}}</td>
                <td>РМ</td>
                <td>{{workgroup.regionalManager?.login}}</td>
                <td>{{(getCallContactsByManager(workgroup.regionalManager?.id) / 176 * 100).toFixed(1)}}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


