.close
    display: block
    position: absolute
    z-index: 100
    cursor: pointer
    right: 25px
    top: 25px
    width: 50px 
    height: 50px
    border-radius: 100px
    border: none
    background: none
    i
        display: inline-block
        color: #03a9f4

.dialog-title
    margin: 
        top: 35px
        left: 25px

::ng-deep .mat-dialog-container
    position: relative
    color: #557B91
    padding: 0px
    padding-bottom: 50px
    .mat-dialog-content
        margin: 0
        padding: 0
 
table
    table-layout: fixed

td
    padding-left: 15px !important
    padding-right: 5px !important
    border-bottom: none
    color: #1C1C1C !important

th 
    padding-left: 15px !important
    padding-right: 5px !important
    background-color: #fcfcfc
    border-bottom: none
    color: #000000 !important


.mat-card
    padding: 0px
    padding-bottom: 20px

.btnAccept
    background-color: #03a9f4
    color: #fff
    transition: 0.3s
    border-radius: 15px
    padding: 2px 2px
    border: none
    cursor: pointer
    margin-bottom: 5px
    margin-right: 3px

.action-circle 
    height: 15px
    width: 15px
    border-radius: 10px
    margin-bottom: 4px
