<mat-card class="mat-elevation-z1">
  <div class="overlay" [class.opened]="_isMobile() && _filterOpened"></div>
  <mat-card-header>
    <mat-card-title class="card-title">Проверка звонков</mat-card-title>
    <div id="fountainG" [hidden]="hiddenloader">
      <div id="fountainG_1" class="fountainG"></div>
      <div id="fountainG_2" class="fountainG"></div>
      <div id="fountainG_3" class="fountainG"></div>
      <div id="fountainG_4" class="fountainG"></div>
      <div id="fountainG_5" class="fountainG"></div>
      <div id="fountainG_6" class="fountainG"></div>
      <div id="fountainG_7" class="fountainG"></div>
      <div id="fountainG_8" class="fountainG"></div>
    </div>
  </mat-card-header>

  <div class="filter-container" [class.opened]="_filterOpened">
    <div class="filter clearfix">
      <input (keyup)="applyFilterNumberOrname($event.target.value)" placeholder="Телефон или Название">
      <input (keyup)="applyFilterDuration($event.target.value)" placeholder="Продолжительность">
      <select [(ngModel)]="direction" (ngModelChange)="changeDirection()">
        <option [ngValue]=0>Все направления</option>
        <option [ngValue]=1>Исходящие</option>
        <option [ngValue]=2>Входящие</option>
      </select>
      <select [(ngModel)]="selectedManager" (ngModelChange)="changeManager()">
        <option selected [ngValue]=0>Все менеджера</option>
        <option *ngFor="let elm of managers" [ngValue]=elm.id>{{elm.login}}</option>
      </select>
      <button (click)="hiddenCalendar()">{{btnDate}}</button>
      <div [hidden]="_isMobile() ? false : calendarHidden" class="blockCalendar">
        <div class="calendar">
          <igx-calendar (onSelection)="verifyRange($event)" selection="range"></igx-calendar>
        </div>
        <div class="sortbloc">
          <button (click)="sortDateCall(1)" class="btnSort">За всё время</button><br />
          <button (click)="sortDateCall(2)" class="btnSort">За Сегодня</button><br />
          <button (click)="sortDateCall(3)" class="btnSort">За Вчера</button><br />
          <button (click)="sortDateCall(4)" class="btnSort">За Последние 7 Дней</button><br />
          <button (click)="sortDateCall(5)" class="btnSort">3а Последние 30 Дней</button><br />
          <button (click)="sortDateCall(6)" class="btnSort">За Текущюю неделю</button><br />
          <button (click)="sortDateCall(7)" class="btnSort">За Текущий Месяц</button><br />
          <button (click)="sortDateCall(8)" class="btnSort">За Текущий год</button><br />
        </div>
      </div>
    </div>
  </div>

  <div class="filter-button-container" *ngIf="_isMobile()">
    <div class="filter-button">
      <button mat-icon-button (click)="_toggleSidebar()">
        <img [src]="_getFilterIcon()" height="30" width="30" />
      </button>
    </div>
  </div>

  <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]" showFirstLastButtons
    [length]="totalItems" [pageSize]="pageSize" (page)="paginate($event)"></mat-paginator>
  <div class="bodyAll" [hidden]="_isMobile()">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="status">
        <th colspan="1" mat-header-cell *matHeaderCellDef></th>
        <td colspan="1" mat-cell *matCellDef="let element" [style.background]="setBagroundStatus(element)"></td>
      </ng-container>

      <ng-container matColumnDef="statusCall">
        <th colspan="3" mat-header-cell *matHeaderCellDef>Статус</th>
        <td colspan="3" mat-cell *matCellDef="let element">
          <div class="action-circle" [style.background]="getActionColor(element)">
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="direction">
        <th colspan="4" mat-header-cell *matHeaderCellDef>Статус звонка</th>
        <td colspan="4" mat-cell *matCellDef="let element">
          <img src="Icon/yesIncoming.png" height="40" width="40"
            *ngIf="element.direction == 'Исходящий' && element.durations != 0" />
          <img src="Icon/yesOutgoing.png" height="40" width="40"
            *ngIf="element.direction == 'Входящий' && element.durations != 0" />
          <img src="Icon/noOutgoing.png" height="40" width="40"
            *ngIf="element.direction == 'Входящий' && element.durations == 0" />
          <img src="Icon/noIncoming.png" height="40" width="40"
            *ngIf="element.direction == 'Исходящий' && element.durations == 0" />
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th colspan="4" mat-header-cell *matHeaderCellDef>Название</th>
        <td colspan="4" mat-cell *matCellDef="let element">{{element.titleClient}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th colspan="6" mat-header-cell *matHeaderCellDef>Номер тел</th>
        <td colspan="6" mat-cell *matCellDef="let element">{{element.phone}}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th colspan="4" mat-header-cell *matHeaderCellDef>Время звонка</th>
        <td colspan="4" mat-cell *matCellDef="let element" style="max-width: 300px">{{element.durations}} Сек</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th colspan="7" mat-header-cell *matHeaderCellDef>Дата</th>
        <td colspan="7" mat-cell *matCellDef="let element">{{element.date}}</td>
      </ng-container>

      <ng-container matColumnDef="comentCon">
        <th colspan="14" mat-header-cell *matHeaderCellDef>Комментарий контролера</th>
        <td colspan="14" mat-cell *matCellDef="let element">
          <textarea *ngIf="element.contactType != 50"
            class="textComment">{{element.callsComments?.comment}}</textarea><br />
          <div class="btnContainer">
            <button *ngIf="element.contactType != 50" (click)="setNoAccept($event, element.id, element.clientId)"
              class="btnAccept btnReject">Отклонить</button>
            <button *ngIf="element.contactType != 50" (click)="setAccept($event, element.id, element.clientId)"
              class="btnAccept btnFixed">Исправлено</button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="comentCli">
        <th colspan="7" mat-header-cell *matHeaderCellDef>Комментарий менеджера</th>
        <td colspan="7" mat-cell *matCellDef="let element">{{element.callsComments?.managerComment}}</td>
      </ng-container>

      <ng-container matColumnDef="refAudio">
        <th class="audio-cell" mat-header-cell *matHeaderCellDef>Аудио запись</th>
        <td class="audio-cell" mat-cell *matCellDef="let element">
          <img *ngIf="element.contactType != 50" (click)="playAudio($event, element.id, element.referenceAudioVoice)"
            class="audio-cell-icon" [src]="_display_audio_icon(element.id)" />
          <audio class="audio-cell audio-cell-play" style="height:20px" controls preload="none"
            src="{{element.referenceAudioVoice}}"></audio>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openEditClientForm(row)"></tr>
    </table>
  </div>
  <div class="bodyAllExpansion" [hidden]="!_isMobile()">
    <mat-accordion>
      <ng-container class="table-expansion-element" *ngFor="let element of paginateDataAcept">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <!-- <div style="display:flex">
                <div style="width: 20px" class="status" [style.background]="setBagroundStatus(element)"></div> -->
                {{element.titleClient}}
              <!-- </div> -->
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="table-expansion-element-body">
            <div class="element-item statusCall">
              <b>Статус:</b>
              <div class="action-circle" [style.background]="getActionColor(element)"></div>
            </div>
            <div class="element-item direction">
              <b> Статус звонка:</b>
              <img src="Icon/yesIncoming.png" height="30" width="30"
                *ngIf="element.direction == 'Исходящий' && element.durations != 0" />
              <img src="Icon/yesOutgoing.png" height="30" width="30"
                *ngIf="element.direction == 'Входящий' && element.durations != 0" />
              <img src="Icon/noOutgoing.png" height="30" width="30"
                *ngIf="element.direction == 'Входящий' && element.durations == 0" />
              <img src="Icon/noIncoming.png" height="30" width="30"
                *ngIf="element.direction == 'Исходящий' && element.durations == 0" />
            </div>
            <div class="element-item title"><b>Название:</b> {{element.titleClient}}</div>
            <div class="element-item phone"><b>Номер телефона:</b>{{element.phone}}</div>
            <div class="element-item duration"><b>Время звонка:</b>{{element.durations}} Сек</div>
            <div class="element-item date"><b>Дата:</b>{{element.date}}</div>
            <div class="element-item comentCon">
              <b>Комментарий контролера:</b>
              <div>
                <textarea *ngIf="element.contactType != 50"
                  class="textComment">{{element.callsComments?.comment}}</textarea><br />
                <div class="btnContainer">
                  <button *ngIf="element.contactType != 50" (click)="setNoAccept($event, element.id, element.clientId)"
                    class="btnAccept btnReject">Отклонить</button>
                  <button *ngIf="element.contactType != 50" (click)="setAccept($event, element.id, element.clientId)"
                    class="btnAccept btnFixed">Исправлено</button>
                </div>
              </div>
            </div>
            <div class="element-item comentCli">
              <b>Комментарий менеджера:</b>
              <div>
                {{element.callsComments?.managerComment}}
              </div>
            </div>
            <div class="element-item refAudio">
              <b>Аудио запись:</b>
              <div>
                <audio class="audio-cell" style="height:20px" controls preload="none"
                  src="{{element.referenceAudioVoice}}"></audio>
              </div>

            </div>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</mat-card>