<mat-card class="mat-elevation-z1">
  <mat-card-header>
    <mat-card-title class="card-title">Проверка звонков</mat-card-title>
  </mat-card-header>
  <div class="filter clearfix">
    <input (keyup)="applyFilterNumberOrname($event.target.value)" placeholder="Телефон или Название">
    <input (keyup)="applyFilterDuration($event.target.value)" placeholder="Продолжительность">
    <select [(ngModel)]="direction" (ngModelChange)="changeDirection()">
      <option [ngValue]=0>Все направленния</option>
      <option [ngValue]=1>Исходящие</option>
      <option [ngValue]=2>Входящие</option>
    </select>
    <button (click)="hiddenCalendar()">{{btnDate}}</button>
    <div [hidden]="calendarHidden" class="calendar">
      <igx-calendar (onSelection)="verifyRange($event)" selection="range"></igx-calendar>
    </div>
  </div>
  <div class="bodyAll">
    <div class="manager" *ngFor="let acceptManager of acceptManagers">
      <div *ngIf="acceptManager.callsDate.length != 0"  (dblclick)="hidenTable($event)">
      <p class="dialog-section-title">
        {{acceptManager.login}} "{{acceptManager.phone}}"
      </p>
      <table id="ID{{acceptManager.id}}" mat-table [dataSource]="acceptManager.callsDate" >

        <ng-container matColumnDef="status">
          <th colspan="1" mat-header-cell *matHeaderCellDef></th>
          <td colspan="1" mat-cell *matCellDef="let element" [style.background]="setBagroundStatus(element)"></td>
        </ng-container>

        <ng-container matColumnDef="statusCall">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Статус</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.contactType == 40 ? "Подтверждён" : "Не подтвержден"}}</td>
        </ng-container>

        <ng-container matColumnDef="direction">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Статус звонка</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.direction}} </td>
        </ng-container>

        <ng-container matColumnDef="answer">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Отвечен</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.durations == 0 ? "Нет" : "Да"}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Название</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.titleClient}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Номер тел</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.phone}}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Продолжи..</th>
          <td colspan="4" mat-cell *matCellDef="let element" style="max-width: 300px">{{element.durations}} Сек</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th colspan="4" mat-header-cell *matHeaderCellDef>Дата</th>
          <td colspan="4" mat-cell *matCellDef="let element">{{element.date}}</td>
        </ng-container>

        <ng-container matColumnDef="comentCon">
          <th colspan="14" mat-header-cell *matHeaderCellDef>Комментарий контролера</th>
          <td colspan="14" mat-cell *matCellDef="let element"><textarea style="width:250px;height:60px;">{{element.callsComments?.comment}}</textarea><br /> <button (click)="setNoAccept($event, element.id, element.clientId)" class="btnAccept">Отклонить</button> <button (click)="setAccept($event, element.id, element.clientId)" class="btnAccept">Испраленно</button></td>
        </ng-container>

        <ng-container matColumnDef="comentCli">
          <th colspan="7" mat-header-cell *matHeaderCellDef>Комментарий менеджера</th>
          <td colspan="7" mat-cell *matCellDef="let element">{{element.callsComments?.managerComment}}</td>
        </ng-container>

        <ng-container matColumnDef="refAudio">
          <th colspan="14" mat-header-cell *matHeaderCellDef>Аудио запись</th>
          <td colspan="14" mat-cell *matCellDef="let element"><audio style="height:20px" controls preload="none" src="{{element.referenceAudioVoice}}"></audio></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openEditClientForm(row)"></tr>
      </table>
    </div>
    </div>
  </div>
</mat-card>
