<aside>
    <div class="sidebar-wrapper">
        <div class="logo m-b40">
            <h2>Мир Суши</h2>
        </div>
        <ul class="aside-menu">
            <li>
                <a routerLink="users" routerLinkActive="active">
                    <i class="fas fa-users"></i>
                    <span>Менеджеры</span>
                </a>
            </li>
            <li>
                <a routerLink="clients" routerLinkActive="active">
                    <i class="far fa-address-book"></i>
                    <span>Клиенты</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="aside-background" style="background-image: url('../assets/aside-bg.jpg')">

    </div>
</aside>