<mat-card class="mat-elevation-z1">
  <mat-card-header>
    <mat-card-title class="card-title">Статистика звонков</mat-card-title>
    <select [(ngModel)]="dateCollection" (ngModelChange)="toFormatDate(dateCollection)">
      <option *ngFor="let dateCollection of dateCollections">{{dateCollection}}</option>
    </select>
  </mat-card-header>
  <mat-card-content>
    <table>
      <thead>
        <tr>
          <th style="max-width: 100px" (click)="sortActionClientToName()">
            Название
          </th>
          <th style="max-width: 200px" >
            Рабочие группы
          </th>
          <th></th>
          <th *ngFor="let day of days" (click)="sortActionClient(day)">
            {{day}}
          </th>
          <th colspan="2">
            МС
          </th>
          <th colspan="2">
            РМ
          </th>
          <th colspan="2">
            Всего
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workgroupCalls of workgroupsCalls">
          <td style="max-width: 100px">{{workgroupCalls.clientTitle}}</td>
          <td style="max-width: 100px">{{workgroupCalls.nameWorkGroup}}</td>
          <td>
            <p>MC</p>
            <p>PM</p>
          </td>
          <td *ngFor="let day of days">
            <div *ngFor="let clientAction of getClientContactType(day, workgroupCalls.clientActions, workgroupCalls.clientId)" class="action-circle" [style.background]="getActionColor(clientAction.contactType)">
            </div>
          </td>
          <td colspan="2">
            {{getSumActions(10, workgroupCalls.clientActions)}}
          </td>
          <td colspan="2">
            {{getSumActions(20, workgroupCalls.clientActions)}}
          </td>
          <td colspan="2">
            {{workgroupCalls.clientActions.length}}
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>


