<h1 mat-dialog-title>Создание нового клиента</h1>
<div mat-dialog-content>
  <form [formGroup]="createClientForm">
    <mat-form-field>
        <input type="text" matInput placeholder="Название"  formControlName="title">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput placeholder="Телефон" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Юр.лицо" formControlName="legalEntity">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Тип" formControlName="clientType">
          <mat-option [value]="data.clientType">{{data.clientType | clientTypeTranslate}}</mat-option>
          <mat-option [value]="clientTypes.WithoutType">{{clientTypes.WithoutType | clientTypeTranslate}}</mat-option>
          <mat-option [value]="clientTypes.Small">{{clientTypes.Small | clientTypeTranslate}}</mat-option>
          <mat-option [value]="clientTypes.Middle1">{{clientTypes.Middle1 | clientTypeTranslate}}</mat-option>
          <mat-option [value]="clientTypes.Middle2">{{clientTypes.Middle2 | clientTypeTranslate}}</mat-option>
          <mat-option [value]="clientTypes.Large1">{{clientTypes.Large1 | clientTypeTranslate}}</mat-option>
          <mat-option [value]="clientTypes.Large2">{{clientTypes.Large2 | clientTypeTranslate}}</mat-option>
          <mat-option [value]="clientTypes.Large3">{{clientTypes.Large3| clientTypeTranslate}}</mat-option>
          <mat-option [value]="clientTypes.VeryLarge">{{clientTypes.VeryLarge | clientTypeTranslate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Количество звонков" formControlName="numberOfCalls">
            <mat-option [value]="data.numberOfCalls">{{data.numberOfCalls | numberOfCallsTranslate}}</mat-option>
            <mat-option [value]="numbersOfCalls.WithoutType">{{numbersOfCalls.WithoutType | numberOfCallsTranslate}}</mat-option>
            <mat-option [value]="numbersOfCalls.OnePerMonth">{{numbersOfCalls.OnePerMonth |numberOfCallsTranslate}}</mat-option>
            <mat-option [value]="numbersOfCalls.OnePerTwoWeek">{{numbersOfCalls.OnePerTwoWeek | numberOfCallsTranslate}}</mat-option>
            <mat-option [value]="numbersOfCalls.ThreePerMonth">{{numbersOfCalls.ThreePerMonth | numberOfCallsTranslate}}</mat-option>
            <mat-option [value]="numbersOfCalls.OnePerWeek">{{numbersOfCalls.OnePerWeek | numberOfCallsTranslate}}</mat-option>
            <mat-option [value]="numbersOfCalls.FivePerMonth">{{numbersOfCalls.FivePerMonth | numberOfCallsTranslate}}</mat-option>
            <mat-option [value]="numbersOfCalls.SixPerMonth">{{numbersOfCalls.SixPerMonth | numberOfCallsTranslate}}</mat-option>
            <mat-option [value]="numbersOfCalls.TwoPerWeek">{{numbersOfCalls.TwoPerWeek | numberOfCallsTranslate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Количество отгрузок" formControlName="numberOfShipments">
            <mat-option [value]="data.numberOfShipments">{{data.numberOfShipments | numberOfShipmentsTranslate}}</mat-option>
            <mat-option [value]="numberOfShipments.WithoutType">{{numberOfShipments.WithoutType | numberOfShipmentsTranslate}}</mat-option>
            <mat-option [value]="numberOfShipments.OnePerMonth">{{numberOfShipments.OnePerMonth |numberOfShipmentsTranslate}}</mat-option>
            <mat-option [value]="numberOfShipments.OnePerTwoWeek">{{numberOfShipments.OnePerTwoWeek | numberOfShipmentsTranslate}}</mat-option>
            <mat-option [value]="numberOfShipments.ThreePerMonth">{{numberOfShipments.ThreePerMonth | numberOfShipmentsTranslate}}</mat-option>
            <mat-option [value]="numberOfShipments.OnePerWeek">{{numberOfShipments.OnePerWeek | numberOfShipmentsTranslate}}</mat-option>
            <mat-option [value]="numberOfShipments.FivePerMonth">{{numberOfShipments.FivePerMonth | numberOfShipmentsTranslate}}</mat-option>
            <mat-option [value]="numberOfShipments.SixPerMonth">{{numberOfShipments.SixPerMonth | numberOfShipmentsTranslate}}</mat-option>
            <mat-option [value]="numberOfShipments.TwoPerWeek">{{numberOfShipments.TwoPerWeek | numberOfShipmentsTranslate}}</mat-option>
        </mat-select>
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button class="mat-primary" (click)="save()" cdkFocusInitial>Сохранить</button>
    <button mat-raised-button (click)="onNoClick()">Закрыть</button> 
</div>