<h1 mat-dialog-title>Создание нового клиента</h1>
<div mat-dialog-content>
  <form [formGroup]="createClientForm">
    <mat-form-field>
        <input type="text" matInput placeholder="Название"  formControlName="title">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput placeholder="Телефон" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Юр.лицо" formControlName="legalEntity">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Не указан" formControlName="clientType">
        <mat-option *ngFor="let item of clientTypes" [value]="item">{{item | clientTypeTranslate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Не указан" formControlName="numberOfCalls">
        <mat-option *ngFor="let item of numberOfCalls" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button class="mat-primary" (click)="save()" cdkFocusInitial>Сохранить</button>
    <button mat-raised-button (click)="onNoClick()">Закрыть</button> 
</div>